@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@400;700&family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-pulse-slow {
    animation: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .animate-glow {
    animation: glow 2s ease-in-out infinite alternate;
  }

  .animate-breathe-red {
    animation: breathe-red 2.5s ease-in-out infinite alternate;
  }

  .bg-noise {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.05'/%3E%3C/svg%3E");
  }

  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }
}


@keyframes glow {
  from {
    box-shadow: 0 0 10px rgba(1, 102, 61, 0.4);
  }

  to {
    box-shadow: 0 0 20px rgba(1, 102, 61, 0.7), 0 0 10px rgba(1, 102, 61, 0.5);
  }
}

@keyframes breathe-red {
  0% {
    transform: scale(1);
    box-shadow: 0 0 5px 0 rgba(229, 57, 53, 0.3);
    border-color: rgba(229, 57, 53, 0.7);
  }

  100% {
    transform: scale(1.08);
    box-shadow: 0 0 25px 5px rgba(229, 57, 53, 0.5);
    border-color: rgba(229, 57, 53, 1);
  }
}